@namespace LiveAI.FastBlazor.Components
@inherits Base.FluentComponentBase
<div class="@(Orientation == Orientation.Horizontal ? "stack-horizontal" : "stack-vertical")" style="@StyleMapper.Style">
    @ChildContent
</div>