@page "/"

<PageTitle>Index</PageTitle>

Select a category in the menu.

<p>
    This prototype is there, to validate the use of <a href="https://github.com/microsoft/fast-blazor" target="_blank">FastBlazor components</a>.
    <ul>
        <li>The first objective is to use only these light components, which use the Microsoft's official FluentUI Web Components.</li>
        <li>The second objective is to complete this library with more complex components, by combining these basic elements.</li>
        <li>The third objective is to use the Blazor concepts as much as possible and to avoid the use of JavaScript code (if possible).</li>
    </ul>
</p>