@page "/"

<PageTitle>Index</PageTitle>

Select a category in the menu.

<p>
    This prototype is there, to validate the use of <a href="https://github.com/microsoft/fast-blazor" target="_blank">FastBlazor components</a>.
    <br/><br/>
    My main objectives, in this prototype, are:

    <ul>
        <li>To use only these light components, which use Microsoft's official FluentUI Web Components.</li>
        <li>To complete this library with more complex components, by combining these basic elements (tagged with a badge [new]).</li>
        <li>To use the Blazor concepts as much as possible and to avoid the use of JavaScript code (if possible).</li>
        <li>Create a sufficient documentation to use these components.</li>
    </ul>
</p>