@page "/Layout"

<h2>Stack Panel</h2>

<FluentStackPanel HorizontalAlignment="HorizontalAlignment.Center"
                  Style="background-color: lightsalmon">
    <div>First item</div>
    <div>Second item</div>
    <FluentStackPanel Orientation="Orientation.Horizontal"
                      HorizontalAlignment="HorizontalAlignment.Center"
                      VerticalAlignment="VerticalAlignment.Center"
                      Style="background-color: lightblue">
        <div style="width: 100px">Item<br />3.1</div>
        <div>Item 3.2</div>
    </FluentStackPanel>
</FluentStackPanel>

<CodeSnippet>@(@"
<FluentStackPanel HorizontalAlignment=""HorizontalAlignment.Center""
                  Style=""background-color: lightsalmon"">
    <div>First item</div>
    <div>Second item</div>
    <FluentStackPanel Orientation=""Orientation.Horizontal""
                      HorizontalAlignment=""HorizontalAlignment.Center""
                      VerticalAlignment=""VerticalAlignment.Center""
                      Style=""background-color: lightblue"">
        <div style=""width: 100px"">Item<br />3.1</div>
        <div>Item 3.2</div>
    </FluentStackPanel>
</FluentStackPanel>")
</CodeSnippet>

<h2>Properties</h2>
...

<h2>Card</h2>

<FluentCard style="width: 300px; height: 150px;">
   <div>Hello World!</div>
   <FluentButton Appearance="Appearance.Accent">Button</FluentButton> 
</FluentCard>

<CodeSnippet>@(@"
<FluentCard style=""width: 300px; height: 150px;"">
   <div>Hello World!</div>
   <FluentButton Appearance=""Appearance.Accent"">Button</FluentButton> 
</FluentCard>")
</CodeSnippet>

<h2>Properties</h2>
...