@page "/TextFields"

<h2>Text Fields</h2>
<FluentTextField Placeholder="Enter your text here" 
                 ValueChanged="@((e) => Console.AddTrace($"TextField Value = " + e))" />

<CodeSnippet>@(@"
<FluentTextField Placeholder=""Enter your text here"" 
                 ValueChanged=""@((e) => AddTrace($""TextField Value "" + e))"" />")
</CodeSnippet>

<h2>Properties</h2>
...

<h2>Console</h2>
<ConsoleLog @ref="Console" />

@code 
{
    ConsoleLog Console = default!;
}