@page "/TextFields"

<h2>Text Fields</h2>
<FluentTextField Placeholder="Enter your text here" 
                 ValueChanged="@((e) => AddTrace($"TextField Value = " + e))" />

<CodeSnippet>@(@"
<FluentTextField Placeholder=""Enter your text here"" 
                 ValueChanged=""@((e) => AddTrace($""TextField Value "" + e))"" />")
</CodeSnippet>

<h2>Properties</h2>
...

<h2>Console</h2>
<div>
    @((MarkupString)ConsoleContent.Replace(Environment.NewLine, "<br/>"))
</div>

@code 
{
    string ConsoleContent { get; set; } = "";

    void AddTrace(string text)
    {
        ConsoleContent = $"{DateTime.Now:HH:mm:ss} - {text}{Environment.NewLine}{ConsoleContent}";            
    }
}