@inherits LayoutComponentBase

<PageTitle>LiveAI.FastBlazor.Demo</PageTitle>

<div class="page">
    <div class="sidebar">
        <h3>LiveAI.FastBlazor</h3>
    </div>

    <main>
        @Body
    </main>
</div>
