@inherits LayoutComponentBase

<PageTitle>LiveAI.FastBlazor.Demo</PageTitle>

<div class="page">
    <div class="sidebar">
        <h3>LiveAI.FastBlazor</h3>
        Based on <a href="https://github.com/microsoft/fast-blazor" target="_blank">Microsoft Fast Blazor</a>
    </div>

    <main>
        @Body
    </main>
</div>
