<h3>LiveAI.FastBlazor</h3>
Based on <a href="https://github.com/microsoft/fast-blazor" target="_blank">Microsoft Fast Blazor</a>
<br />

<div role="navigation" class="navigation">
    <ul>
        <li>
            <FluentAnchor Href="/" Appearance="Appearance.Stealth">Intro</FluentAnchor>
        </li>
        <li>
            <FluentAnchor Href="/Buttons" Appearance="Appearance.Stealth">Buttons</FluentAnchor>
        </li>
        <li>
            <FluentAnchor Href="/TextFields" Appearance="Appearance.Stealth">Text fields</FluentAnchor>
        </li>
        <li>
            <FluentAnchor Href="/DataGrids" Appearance="Appearance.Stealth">Data Grid</FluentAnchor>
        </li>
        <li>
            <FluentAnchor Href="/Dialogs" Appearance="Appearance.Stealth">Dialogs</FluentAnchor>
        </li>
        <li>
            <FluentAnchor Href="/Layouts" Appearance="Appearance.Stealth">Layouts</FluentAnchor>
        </li>
        <li>
            <FluentAnchor Href="/Icons" Appearance="Appearance.Stealth">Icons</FluentAnchor>
        </li>
    </ul>
</div>