<h3>LiveAI.FastBlazor</h3>
Based on <a href="https://github.com/microsoft/fast-blazor" target="_blank">Microsoft Fast Blazor</a>
<br />

<div role="navigation" class="navigation">
    <ul>
        <li>
            <FluentAnchor Href="/" Appearance="Appearance.Stealth">Intro</FluentAnchor>
        </li>
        <li>
            <FluentAnchor Href="/Button" Appearance="Appearance.Stealth">Buttons</FluentAnchor>
        </li>
        <li>
            <FluentAnchor Href="/TextField" Appearance="Appearance.Stealth">Text fields</FluentAnchor>
        </li>
        <li>
            <FluentAnchor Href="/DataGrid" Appearance="Appearance.Stealth">Data Grid</FluentAnchor>
        </li>
        <li>
            <FluentAnchor Href="/Layout" Appearance="Appearance.Stealth">Layouts</FluentAnchor>
        </li>
    </ul>
</div>