<div style="background-color: #f5f2f0; padding: 15px;">    
    @((MarkupString)ConsoleContent.Replace(Environment.NewLine, "<br/>"))
</div>

@code 
{
    [Parameter]
    public string ConsoleContent { get; set; } = "";

    public void AddTrace(string text)
    {
        ConsoleContent = $"{DateTime.Now:HH:mm:ss} - {text}{Environment.NewLine}{ConsoleContent}";
        this.StateHasChanged();
    }
}